html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 100px;
}

#testimonio {
    background-color: #ffdc74;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#info-dos,
#contacto {
    background-color: #ffdc74;
}

footer p {
    line-height: 70px;
}

@media only screen and (max-width: 360px) {
    footer p {
        line-height: 70px;
        font-size: 12px;
    }
}

img {
    border-radius: 5px;
}